body {
    background-color: darkslategray;
}

.header {
    display: flex;
    background-color: deepskyblue;
    color: white;
    margin-bottom: 20px;
}

.app-title {
    margin:10px;
    padding-right: 5px;
    border-right: 2px solid gray;
    font-size: 1.5rem;
}

.header a {
    color:white;
    text-decoration: none;
    margin:15px 10px 10px;
}

.spacer {
    flex: 1;
}

.view {
    width: 100%;
    height: calc(100vh - 86px);
    color: white;
    padding: 10px;
}


